@charset "utf-8";
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000;
  position: relative;
  margin: none;

	

	
}

table {
	margin-top: 10%;
	margin-left: 36.4%;
  
  font-size:75px;

  position: absolute;
  top: 0;
	font-family:"No. Seven Regular";
	
}

.a{
	 
  font-size:30px;
  padding: 95px 12px;
  position: absolute;
  top: 0;
	font-family:"No. Seven Regular";
}

td{
	
	border: 2px solid white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	
}

.main{
	
	font-family:"No. Seven Regular";
	font-size: 50px;
	  color:black;
	position: absolute;
	
  
 
}


body{
	position: fixed;
	margin: 0;
}



.mySlides {
  display: none;
}




.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.nn{margin-top:35%;
	margin-left: 46.5%;

	font-size: 20px;

  position: absolute;
  top: 0;
text-align: center;
	

}

button {
  background-color: black;
  color: white;
  border: 3px solid #4CAF50; 
	border-radius: 12px;
	font-size:30px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Brain Flower";
	transition-duration: 0.4s;
	margin: 5px;
}



button:hover {
  background-color: #4CAF50; 
  color: white;
}

a{
	text-decoration: none;
	color: white;
}

.btn{
	border: 3px solid #C04D00; 
}

.btn:hover{
	
	background-color: #C04D00; 
}

p{
	margin-top:47%;
	width: 100%;

	font-size: 23px;

  position: absolute;
  top: 0;
text-align:center;
	font-family: "Brain Flower";
color: white;
}